<h1>New Student</h1>

<%= form_with model: @student do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :Name %>
    <% @student.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Login %><br>
    <%= form.text_area :Login %><br>
    <% @student.errors.full_messages_for(:Login).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </p>

  <div>
    <%= form.submit %>
  </div>
<% end %>
