<h1><%= @student.Name %></h1>

<p><%= @student.Login %></p>

<ul>
  <li><%= link_to "Edit", edit_student_path(@student) %></li>
  <li><%= link_to "Destroy", student_path(@student), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= render @student.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>